<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, width=device-width, viewport-fit=cover, user-scalable=0"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game.css" />
    <title>Fruit Snake</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="game_over">
        <div class="outcome"></div>
        <a href="./game.html" class="link block"></a>
      </div>

      <div class="side">
        <div class="balance_field"></div>

        <div class="level block"></div>
        <div class="progress_cont block"></div>

        <div class="arrow_cont">
          <img src="../png/arrow.png" alt="arrow" class="arrow up" />
          <img src="../png/arrow.png" alt="arrow" class="arrow down" />
          <img src="../png/arrow.png" alt="arrow" class="arrow left" />
          <img src="../png/arrow.png" alt="arrow" class="arrow right" />
        </div>
      </div>

      <a href="./main.html" class="home block">Home</a>
      <div class="field"></div>
    </div>

    <script src="../scripts/game.js" type="module"></script>
  </body>
</html>
