<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, width=device-width, viewport-fit=cover, user-scalable=0"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Fruit Snake</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="balance_field"></div>

      <a href="./shop.html" class="shop block">
        <img src="../png/cart.png" alt="cart"
      /></a>

      <img src="../png/snake_pic.png" alt="snake" class="snake" />

      <div class="level_cont"></div>

      <a href="./reward.html" class="reward block">Achievements</a>
    </div>

    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>
