<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, width=device-width, viewport-fit=cover, user-scalable=0" />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/reward.css" />
    <title>Fruit Snake</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="balance_field"></div>
      <a href="../index.html" class="home block">Home</a>

      <img src="../png/snake_pic.png" alt="snake" class="snake" />

      <div class="reward_cont">
        <div class="reward">
          <div class="text">Collect 15 fruits</div>
          <div class="right">
            <div class="reward_value">25</div>
            <img src="../png/currency.png" alt="currency" />
            <div class="button block" data-value="25"></div>
          </div>
        </div>

        <div class="reward">
          <div class="text">Collect 50 fruits</div>
          <div class="right">
            <div class="reward_value">75</div>
            <img src="../png/currency.png" alt="currency" />
            <div class="button block" data-value="75"></div>
          </div>
        </div>

        <div class="reward">
          <div class="text">Collect 100 fruits</div>
          <div class="right">
            <div class="reward_value">150</div>
            <img src="../png/currency.png" alt="currency" />
            <div class="button block" data-value="150"></div>
          </div>
        </div>

        <div class="reward">
          <div class="text">Discover 3 types of fruits</div>
          <div class="right">
            <div class="reward_value">250</div>
            <img src="../png/currency.png" alt="currency" />
            <div class="button block" data-value="250"></div>
          </div>
        </div>

        <div class="reward">
          <div class="text">Discover 5 types of fruits</div>
          <div class="right">
            <div class="reward_value">350</div>
            <img src="../png/currency.png" alt="currency" />
            <div class="button block" data-value="350"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="../scripts/reward.js" type="module"></script>
  </body>
</html>
