.home {
  position: absolute;
  top: 15%;
  left: 2%;

  width: 101px;
  height: 39px;

  background: url(../png/button_red.png) center/100% 100%;
}

.balance_field {
  position: absolute;
  top: 2%;
  left: 2%;
}

.snake {
  position: absolute;
  left: 0;
  bottom: 0;

  max-width: 30%;
}

.shop {
  position: absolute;
  top: 20%;
  right: 5%;

  width: 400px;
  height: 200px;

  display: flex;
  justify-content: space-between;

  transform-origin: right;
}

.card {
  position: relative;
  width: 30%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.pic_cont {
  width: 125px;
  height: 124px;

  background: url(../png/button_yellow.png) center/100% 100%;
}

.card img {
  max-width: 85%;
  max-height: 85%;
}

.button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);

  width: 101px;
  height: 39px;

  background: url(../png/button_purple.png) center/100% 100%;
}

@media screen and (min-width: 960px) {
  .shop {
    top: 35%;
    transform: scale(1.3);
  }

  .balance_field,
  .home {
    transform-origin: top left;
    transform: scale(1.2);
  }
}

@media screen and (min-width: 1280px) {
  .shop {
    top: 35%;
    transform: scale(1.8);
  }

  .balance_field,
  .home {
    transform: scale(1.5);
  }
}
